@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-SemiboldIt.otf") format("truetype");
}

@font-face {
  font-family: "Spin Cycle OT";
  src: url("fonts/Spin-Cycle-OT.ttf") format("opentype");
}

.header-container {
  background-image: url("images/headphones_hero_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.head-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  gap: 200px;
}
.head-section .logo img {
  width: 250px;
  height: auto;
}
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
#menu-checkbox {
  display: none;
}
.head-section .navigation ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.head-section .navigation ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}
.head-section .navigation ul li a:hover {
  color: #e85d5e;
}
.hero-section {
  text-align: center;
  margin-top: 150px;
}
.hero-section h1 {
  font-size: 40px;
}
.hero-section h2 {
  font-size: 28px;
}
.hero-section button {
  padding: 15px 30px;
  font-size: 14px;
  background-color: #e85d5e;
  color: #ffffff;
  border: 1px solid #e85d5e;
  border-radius: 25px;
  cursor: pointer;
}
.hero-section p {
  font-size: 20px;
  margin: 60px auto;
  width: 60%;
  text-align: center;
}

/*Mobile phone styles*/
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  #menu-checkbox:checked ~ .nav {
    display: flex;
  }
}
