body {
  font-family: Arial, sans-serif;
  background-color: #a83131;
  color: aliceblue;
}
header {
  background-color: #f7f2f2;
  padding: 10px;
  text-align: center;
}
h1 {
  text-align: center;
  color: #530dd4;
}
nav {
  background-color: #333;
  overflow: hidden;
}
nav a {
  color: #eca6a6;
  text-align: center;
  text-decoration: none;
}
nav li {
  list-style-type: none;
}
main {
  padding: 20px;
  text-align: center;
}
.twitter-tweet {
  border: 2px solid #333;
  padding: 10px;
  margin: 10px auto;
  max-width: 600px;
  background-color: #f2f2f2;
  color: #000;
}
table {
  width: 100%;
  padding: 20px;
}
table caption {
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline;
}
footer {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;

  width: 100%;
  bottom: 0;
}
